html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    transition: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: 'Blinker';
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/blinker-semilight-webfont.woff2") format("woff2")
}

@font-face {
    font-family: 'Blinker';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/blinker-regular-webfont.woff2") format("woff2")
}

@font-face {
    font-family: 'Blinker';
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/blinker-semibold-webfont.woff2") format("woff2")
}

@font-face {
    font-family: 'Blinker';
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/blinker-bold-webfont.woff2") format("woff2")
}

.container,.container-fluid {
    margin-right: auto;
    margin-left: auto
}

.container-fluid {
    padding-right: 2rem;
    padding-left: 2rem
}

.row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem
}

.row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.col.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-offset-0,.col-xs-offset-1,.col-xs-offset-10,.col-xs-offset-11,.col-xs-offset-12,.col-xs-offset-2,.col-xs-offset-3,.col-xs-offset-4,.col-xs-offset-5,.col-xs-offset-6,.col-xs-offset-7,.col-xs-offset-8,.col-xs-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem
}

.col-xs {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%
}

.col-xs-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.col-xs-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
}

.col-xs-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.col-xs-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
}

.col-xs-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.col-xs-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
}

.col-xs-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.col-xs-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
}

.col-xs-offset-0 {
    margin-left: 0
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.start-xs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start
}

.center-xs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.end-xs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end
}

.top-xs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.bottom-xs {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.between-xs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.first-xs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1
}

.last-xs {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

@media only screen and (min-width: 48em) {
    .container {
        width:49rem
    }

    .col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-offset-0,.col-sm-offset-1,.col-sm-offset-10,.col-sm-offset-11,.col-sm-offset-12,.col-sm-offset-2,.col-sm-offset-3,.col-sm-offset-4,.col-sm-offset-5,.col-sm-offset-6,.col-sm-offset-7,.col-sm-offset-8,.col-sm-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }

    .col-sm {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .col-sm-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .col-sm-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .col-sm-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .col-sm-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .col-sm-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .col-sm-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .col-sm-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .col-sm-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .start-sm {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }

    .center-sm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }

    .end-sm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }

    .top-sm {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .middle-sm {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bottom-sm {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .around-sm {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .between-sm {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .first-sm {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }

    .last-sm {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
}

@media only screen and (min-width: 64em) {
    .container {
        width:65rem
    }

    .col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-offset-0,.col-md-offset-1,.col-md-offset-10,.col-md-offset-11,.col-md-offset-12,.col-md-offset-2,.col-md-offset-3,.col-md-offset-4,.col-md-offset-5,.col-md-offset-6,.col-md-offset-7,.col-md-offset-8,.col-md-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }

    .col-md {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .col-md-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .col-md-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .col-md-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .col-md-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .col-md-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .col-md-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .col-md-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .col-md-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .col-md-offset-0 {
        margin-left: 0
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .start-md {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }

    .center-md {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }

    .end-md {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }

    .top-md {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .middle-md {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bottom-md {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .around-md {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .between-md {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .first-md {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }

    .last-md {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
}

@media only screen and (min-width: 75em) {
    .container {
        width:76rem
    }

    .col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-offset-0,.col-lg-offset-1,.col-lg-offset-10,.col-lg-offset-11,.col-lg-offset-12,.col-lg-offset-2,.col-lg-offset-3,.col-lg-offset-4,.col-lg-offset-5,.col-lg-offset-6,.col-lg-offset-7,.col-lg-offset-8,.col-lg-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }

    .col-lg {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .col-lg-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .col-lg-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .col-lg-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .col-lg-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .col-lg-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .col-lg-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .col-lg-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .col-lg-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .col-lg-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .col-lg-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .col-lg-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .col-lg-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .start-lg {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }

    .center-lg {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }

    .end-lg {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }

    .top-lg {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .middle-lg {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bottom-lg {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .around-lg {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .between-lg {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .first-lg {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }

    .last-lg {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
    z-index: 1
}

@media only screen and (max-width: 1180px) {
    .row div[class^='col'] {
        margin-bottom:1.5rem
    }

    .row div[class^='col']:last-of-type {
        margin: 0
    }
}

.mr {
    margin-right: 1rem
}

.ml {
    margin-left: 1rem
}

.mt {
    margin-top: 1rem
}

.mb {
    margin-bottom: 1rem
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Blinker", Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 20px
}

h1 {
    font-size: 41px;
    line-height: 49px
}

h1[id] {
    padding-top: 140px;
    margin-top: -140px
}

h2 {
    font-size: 32px;
    line-height: 40px
}

h2[id] {
    padding-top: 140px;
    margin-top: -140px
}

h3 {
    font-size: 28px;
    line-height: 34px
}

h3[id] {
    padding-top: 140px;
    margin-top: -140px
}

h4 {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 26px
}

h4[id] {
    padding-top: 140px;
    margin-top: -140px
}

h5 {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 24px
}

h5[id] {
    padding-top: 140px;
    margin-top: -140px
}

h6 {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.6rem
}

h6[id] {
    padding-top: 140px;
    margin-top: -140px
}

p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    line-height: 1.6rem
}

em {
    font-style: italic
}

a {
    color: var(--color-primary);
    text-decoration: none
}

a:hover,a:focus {
    text-decoration: underline
}

ul li {
    line-height: 22px
}

.anchor {
    padding-top: 150px;
    margin-top: -150px
}

.text-center {
    text-align: center
}

blockquote {
    background: rgba(255,255,255,0.12);
    padding: 8px;
    border-radius: 5px;
    color: rgba(255,255,255,0.9)
}

code {
    background: rgba(255,255,255,0.12);
    padding: 4px;
    border-radius: 5px;
    color: rgba(255,255,255,0.9)
}

strong {
    font-weight: 500
}

.btn {
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.4);
    color: rgba(255,255,255,0.4);
    background: rgba(0,0,0,0.2);
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 600;
    font-family: "Tomorrow", Arial, sans-serif;
    text-decoration: none;
    transition: all .2s ease;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    padding: 0.8rem 1.25rem;
    cursor: pointer;
    text-transform: uppercase
}

.btn:hover,.btn:focus,.btn.active {
    border: 1px solid rgba(255,255,255,0.7);
    color: rgba(255,255,255,0.9);
    text-decoration: none
}

.btn-small {
    padding: 0.65rem 1.25rem;
    font-size: .9rem
}

.btn-primary {
    border: 1px solid rgba(var(--color-primary-rgb), 0.4);
    color: rgba(var(--color-primary-rgb), 0.7);
    background: rgba(var(--color-primary-rgb), 0.045)
}

.btn-primary:hover {
    border: 1px solid rgba(var(--color-primary-rgb), 0.8);
    color: rgba(var(--color-primary-rgb), 1)
}

.btn-dark {
    background: rgba(0,0,0,0.2)
}

.btn-dark:hover {
    border: 1px solid rgba(255,255,255,0.7);
    color: rgba(255,255,255,0.9)
}

.btn-vu {
    border: 1px solid rgba(251,82,82,0.2);
    color: rgba(251,82,82,0.5)
}

.btn-vu:hover {
    border: 1px solid rgba(251,82,82,0.5);
    color: rgba(251,82,82,0.8)
}

.btn-rome {
    border: 1px solid rgba(251,173,82,0.2);
    color: rgba(251,173,82,0.5)
}

.btn-rome:hover {
    border: 1px solid rgba(251,173,82,0.5);
    color: rgba(251,173,82,0.8)
}

.btn-transparent {
    border-color: transparent;
    background: transparent;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0)
}

.btn-transparent:hover {
    border-color: transparent;
    background: transparent
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 70px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease
}

header .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

header .left-content {
    height: 100%;
    display: flex;
    align-items: center
}

header .left-content #main-logo {
    display: flex;
    align-items: center;
    height: 100%
}

header .left-content #main-nav {
    height: 100%;
    display: flex
}

header .left-content #main-nav a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    padding: 0 1.25rem;
    position: relative;
    font-family: "Tomorrow", Arial, sans-serif;
    text-transform: uppercase
}

header .left-content #main-nav a::after {
    background-color: #fff;
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    content: "";
    transition: all 250ms ease
}

header .left-content #main-nav a:hover::after,header .left-content #main-nav a:focus::after {
    width: 100%;
    left: 0
}

header .left-content #main-nav a.active::after {
    background-color: var(--color-primary);
    width: 100%;
    left: 0
}

header .left-content #main-nav a:first-child {
    margin-left: 60px
}

header .left-content #main-nav a:last-child {
    margin-right: 0
}

header .right-content {
    height: 100%;
    display: flex;
    align-items: center
}

header .right-content .account-actions {
    margin-left: 2rem
}

header .mobile-content {
    height: 100%;
    position: relative
}

header.active {
    background: rgba(255,255,255,0.05);
    border-color: rgba(255,255,255,0.05)
}

header.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    backface-visibility: hidden;
    perspective: 1000;
    z-index: -1;
    top: -1px;
    transform: translateZ(0)
}

.header-socials a {
    text-decoration: none;
    color: #fff;
    opacity: 0.4;
    margin: 0 10px;
    transition: opacity 250ms ease
}

.header-socials a:hover,.header-socials a:focus {
    opacity: 1
}

.header-socials a:first-child {
    margin-left: 0
}

.header-socials a:last-child {
    margin-right: 0
}

.header-socials a i {
    font-size: 1.4rem
}

#main-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px
}

#main-logo img {
    height: 32px;
    max-width: 100%
}

#rome #main-logo img {
    height: auto;
    max-height: 32px
}

#header_toggle {
    display: none;
    text-decoration: none;
    font-size: 2rem;
    color: #fff
}

.mobile-content {
    display: none
}

.mobile-menu {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #161c23;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
    touch-action: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.mobile-menu #mobile-nav a {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    font-family: "Tomorrow", Arial, sans-serif;
    text-transform: uppercase
}

.mobile-menu #mobile-nav a:hover,.mobile-menu #mobile-nav a:focus {
    opacity: .5
}

.mobile-menu .account-actions {
    display: flex;
    flex-flow: column;
    gap: 30px
}

.mobile-menu .account-actions .btn {
    font-size: 1.5rem
}

.mobile-menu .header-socials i {
    font-size: 32px
}

@media only screen and (max-width: 1300px) {
    header {
        background:rgba(255,255,255,0.05);
        border-color: rgba(255,255,255,0.05)
    }

    header::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        backface-visibility: hidden;
        perspective: 1000;
        z-index: -1;
        top: -1px;
        transform: translateZ(0)
    }

    header.open .mobile-menu {
        transform: none
    }

    .left-content #main-nav {
        display: none !important
    }

    .right-content .account-actions {
        margin-right: 30px
    }

    .mobile-content {
        display: block
    }

    #header_toggle {
        display: block
    }

    #header_toggle_inside {
        position: absolute;
        display: block;
        text-decoration: none;
        font-size: 2rem;
        color: #fff;
        top: 5vh;
        right: 5vh
    }
}

@media only screen and (max-width: 680px) {
    .right-content .account-actions {
        display:none
    }

    .right-content .header-socials {
        margin-right: 30px
    }
}

@media only screen and (max-width: 960px) {
    #rome .right-content .account-actions {
        display:none
    }

    #rome .right-content .header-socials {
        margin-right: 30px
    }
}

@media only screen and (max-width: 380px) {
    .right-content .header-socials {
        display:none
    }
}

@media only screen and (max-width: 660px) {
    #rome .right-content .header-socials {
        display:none
    }
}

footer {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px
}

footer .copyright {
    font-size: .9rem;
    margin-bottom: 1rem
}

footer .trademark-notice {
    font-size: .8rem;
    line-height: 1.2rem;
    color: rgba(var(--color-light-rgb), 0.3)
}

footer .socials {
    display: flex;
    align-items: center
}

footer .socials a {
    text-decoration: none;
    color: #fff;
    opacity: 0.4;
    margin: 0 10px;
    transition: opacity 250ms ease
}

footer .socials a:hover,footer .socials a:focus {
    opacity: 1.0
}

footer .socials a:first-child {
    margin-left: 0
}

footer .socials a:last-child {
    margin-right: 0
}

footer .socials a i {
    font-size: 1.4rem
}

@media only screen and (max-width: 768px) {
    footer {
        text-align:center
    }

    footer .socials {
        justify-content: center
    }
}

.embed-ctr {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%
}

.embed-ctr iframe,.embed-ctr object,.embed-ctr embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

form {
    margin-bottom: 30px
}

form label {
    display: block;
    margin-bottom: .75rem;
    font-size: 1.25rem;
    font-family: "Blinker", Arial, sans-serif;
    font-weight: 500
}

form input[type="text"],form input[type="email"],form input[type="number"],form input[type="password"],form select,form textarea {
    border-radius: 8px;
    border: 1px solid rgba(var(--color-light-rgb), 0.1);
    background: rgba(var(--color-light-rgb), 0.04);
    line-height: 50px;
    padding: 0 1rem;
    color: var(--color-light);
    min-width: 400px;
    max-width: 400px;
    margin-bottom: 2rem;
    display: block;
    box-sizing: border-box;
    font-family: "Blinker", Arial, sans-serif;
    font-size: 1rem;
    transition: all .2s ease
}

form input[type="text"]:focus,form input[type="email"]:focus,form input[type="number"]:focus,form input[type="password"]:focus,form select:focus,form textarea:focus {
    outline: none;
    border: 1px solid rgba(var(--color-light-rgb), 0.7)
}

form .g-recaptcha {
    margin-bottom: 30px
}

form textarea {
    min-height: 150px
}

form select {
    line-height: 50px;
    height: 50px
}

form select option {
    line-height: 50px;
    background: #1f252c;
    color: var(--color-light)
}

@media only screen and (max-width: 680px) {
    form input[type="text"],form input[type="email"],form input[type="email"],form input[type="number"],form input[type="password"],form textarea {
        min-width:100%;
        max-width: 100%;
        width: 100%
    }
}

.alert {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem 0.75rem calc(1.25rem + 60px);
    border-radius: 6px;
    margin-bottom: 1rem;
    font-size: 18px;
    color: var(--color-light);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden
}

.alert p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.75rem;
    margin: 0
}

.alert a {
    color: var(--color-light);
    text-decoration: underline
}

.alert::before {
    content: "\f12a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(var(--color-light-rgb), 0.1);
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem
}

.alert.alert-error {
    border: 1px solid rgba(var(--color-primary-rgb), 0.28);
    background: rgba(var(--color-primary-rgb), 0.07);
    color: var(--color-primary)
}

.alert.alert-error::before {
    color: rgba(var(--color-primary-rgb), 0.78);
    background: rgba(var(--color-primary-rgb), 0.1);
    border-right: 1px solid rgba(var(--color-primary-rgb), 0.28)
}

.alert.alert-info {
    border: 1px solid rgba(var(--color-info-rgb), 0.28);
    background: rgba(var(--color-info-rgb), 0.07);
    color: var(--color-info)
}

.alert.alert-info::before {
    color: rgba(var(--color-info-rgb), 0.78);
    background: rgba(var(--color-info-rgb), 0.1);
    border-right: 1px solid rgba(var(--color-info-rgb), 0.28)
}

.alert.alert-warning {
    border: 1px solid rgba(var(--color-warning-rgb), 0.28);
    background: rgba(var(--color-warning-rgb), 0.07);
    color: var(--color-warning)
}

.alert.alert-warning::before {
    color: rgba(var(--color-warning-rgb), 0.78);
    background: rgba(var(--color-warning-rgb), 0.1);
    border-right: 1px solid rgba(var(--color-warning-rgb), 0.28)
}

:root {
    --color-primary: #e14d43;
    --color-primary-rgb: 225,77,67;
    --color-primary-contrast: #ffffff;
    --color-primary-contrast-rgb: 255,255,255;
    --color-primary-shade: #c6443b;
    --color-primary-tint: #e45f56;
    --color-info: #08a4ff;
    --color-info-rgb: 8,164,255;
    --color-info-contrast: #ffffff;
    --color-info-contrast-rgb: 255,255,255;
    --color-info-shade: #0790e0;
    --color-info-tint: #21adff;
    --color-warning: #f5c862;
    --color-warning-rgb: 245,200,98;
    --color-warning-contrast: #000000;
    --color-warning-contrast-rgb: 0,0,0;
    --color-warning-shade: #d8b056;
    --color-warning-tint: #f6ce72;
    --color-light: #ffffff;
    --color-light-rgb: 255,255,255;
    --color-light-contrast: #000000;
    --color-light-contrast-rgb: 0,0,0;
    --color-light-shade: #e0e0e0;
    --color-light-tint: #ffffff
}

body,html {
    background: #161c23;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    width: 100%;
    position: relative
}

html {
    font-size: 16px;
    height: 100%
}

.sub-page-title {
    position: relative;
    background: #000 url("/assets/img/header.jpg") 50% 37% no-repeat;
    background-size: cover;
    height: 20vh;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center
}

.sub-page-title.rome {
    background: #000 url("/assets/img/header-rome.jpg") 50% 75% no-repeat;
    background-size: cover
}

.sub-page-title::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,25,60,0.2), rgba(0,25,60,0.2)),linear-gradient(180deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 48.21%),rgba(0,0,0,0.65)
}

.sub-page-title h1 {
    position: relative;
    font-size: 3.5rem;
    z-index: 2
}

#subpage {
    padding: 60px 0
}

@media only screen and (max-width: 1180px) {
    .sub-page-title h1 {
        font-size:2.4rem
    }
}

body#home {
    padding: 0
}

.background-video-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: -1px;
    pointer-events: none;
    z-index: 0
}

.background-video-wrapper video {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.background-video-wrapper::after {
    content: "";
    background: linear-gradient(0deg, rgba(0,25,60,0.2), rgba(0,25,60,0.2)),linear-gradient(180deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 48.21%),rgba(0,0,0,0.65);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

#homepage {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 120px 0 20px 0;
    box-sizing: border-box
}

#homepage h1 {
    margin-bottom: 20px;
    font-size: 3.5rem;
    line-height: 3.75rem
}

#homepage h1 .star {
    font-size: 24px;
    position: relative;
    top: -24px;
    opacity: 0.5
}

#homepage .subhero {
    font-size: 1.35rem;
    line-height: 2.05rem;
    font-weight: 400;
    color: #b5b5b5
}

#homepage .subhero em {
    opacity: 0.7
}

ol {
    list-style: decimal;
    padding-left: 1.25rem
}

ol li {
    font-size: 1rem;
    line-height: 1.75rem
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px
}

.features .feature {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.05);
    backdrop-filter: blur(7.5px);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-flow: column
}

.features .feature-title {
    font-family: "Blinker", Arial, sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 15px
}

.features .feature-title i {
    margin-right: 5px
}

.features .feature-content {
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: 0.7;
    flex: 1 1 auto
}

.features .feature-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px
}

.features .feature.full {
    grid-column: 1 / span 2
}

.features .feature.project-rome {
    background: rgba(103,71,54,0.28);
    border: 1px solid rgba(251,173,82,0.07)
}

.features .feature.project-rome .feature-title span {
    color: #fbad53
}

.features .feature.vu {
    background: rgba(103,54,54,0.28);
    border: 1px solid rgba(225,67,67,0.07)
}

.features .feature.vu .feature-title span {
    color: #e14d43
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem
}

.hero-buttons .btn i {
    margin-right: 0.5rem;
    font-size: 1.5rem
}

.requirements h5 {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0.5rem
}

.requirements li {
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: 0.7
}

#announcement {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px
}

@media only screen and (max-width: 1180px) {
    #homepage h1 {
        font-size:2.5rem;
        line-height: 3.25rem
    }

    #homepage h1 .star {
        font-size: 20px;
        position: relative;
        top: -20px;
        opacity: 0.5
    }

    #homepage .features {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr)
    }

    #homepage .hero-buttons {
        flex-flow: column
    }

    .features .feature {
        grid-column: 1 / span 2
    }
}

html#rome:root {
    --color-primary: #FBAD53;
    --color-primary-rgb: 251,173,83;
    --color-primary-contrast: #000000;
    --color-primary-contrast-rgb: 0,0,0;
    --color-primary-shade: #dd9849;
    --color-primary-tint: #fbb564
}

body#rome {
    padding: 0
}

body#rome .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto
}

.row.soldier-transfer {
    display: flex;
    align-content: center;
    margin-bottom: 30px
}

.row.soldier-transfer .soldier {
    border-radius: 8px;
    border: 1px solid rgba(var(--color-light-rgb), 0.1);
    background: rgba(var(--color-light-rgb), 0.04);
    padding: 1rem;
    margin-bottom: 0
}

.row.soldier-transfer strong {
    display: block;
    font-size: 2rem;
    margin-bottom: 10px
}

.row.soldier-transfer .dest-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0
}

.row.soldier-transfer .dest-arrow i {
    font-size: 2rem
}

@media only screen and (max-width: 768px) {
    .row.soldier-transfer {
        gap:10px
    }

    .row.soldier-transfer .dest-arrow {
        display: none
    }
}

.faq-entry {
    margin-bottom: 30px
}

.faq-entry:last-child {
    margin-bottom: 0
}

.faq-entry-link,.heading-link {
    display: inline-block;
    font-size: 16px;
    width: 26px;
    margin-left: -26px;
    opacity: 0;
    transition: opacity 250ms ease;
    vertical-align: middle
}

.faq-entry:hover .faq-entry-link {
    opacity: 1.0
}

h1:hover .heading-link,h2:hover .heading-link,h3:hover .heading-link,h4:hover .heading-link,h5:hover .heading-link,h6:hover .heading-link {
    opacity: 1.0
}

#account-details {
    margin-bottom: 30px
}

.account-details-row {
    margin-bottom: 20px
}

.account-details-row:last-child {
    margin-bottom: 0
}

.account-details-row label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500
}

#account-licenses {
    margin-bottom: 30px
}

.account-license {
    border-radius: 8px;
    border: 1px solid rgba(var(--color-light-rgb), 0.1);
    background: rgba(var(--color-light-rgb), 0.04);
    padding: 1rem;
    margin-bottom: 1rem
}

.account-license:last-child {
    margin-bottom: 0
}

.account-license label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    font-weight: 500
}

.account-keygen-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem
}

.server-key-stats {
    margin-bottom: 30px
}

.server-key {
    border-radius: 8px;
    border: 1px solid rgba(var(--color-light-rgb), 0.1);
    background: rgba(var(--color-light-rgb), 0.04);
    padding: 1rem;
    margin-bottom: 1rem
}

.server-key:last-child {
    margin-bottom: 0
}

.server-key label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    font-weight: 500
}

.server-key span {
    font-size: .9rem;
    display: block;
    margin-bottom: 1rem
}

.server-key-actions .btn.btn-small {
    margin-right: 0.75rem
}

.server-key-actions .btn.btn-small i {
    margin-right: 0.5rem
}

.server-key-actions .btn.btn-small:last-child {
    margin-right: 0
}

#server-key-actions-top {
    margin-bottom: 1rem
}

.defender-pics {
    margin-bottom: 20px
}

.defender-pics img {
    width: 100%
}
